.all {
        font-family: 'Inter', sans-serif;
}

header {
    padding: 0.5em; 
}

header img {
    position: static;
}

.conteudo-primeiro {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    vertical-align: middle;
    padding: 2em 2em 0.5em;  
}

.conteudo-segundo {
    width: 100%;
    display: flex;
}

.inputTexto, .outputTexto {
    padding: 1em;
    font-size: 1em;
    margin-left: 2em;
    font-family: 'Inter', sans-serif;
}

.inputTexto {
    width: 50%;
}

.outputTexto {
    width: 35%; 
    background-image: url("./imagens/search.png");
    /*Depois de adicionar a imagem como background, cancela a repetição da imagem */
    background-repeat: no-repeat;
    background-position: center;
}

.texto-alerta {
    padding: 0 4em 2em;
    font-size: 1em;
    color: #495057;
    opacity: 0.8;
}

.botoes {
    width: 100%;
    display: flex;
    padding: 0 20px 40px 20px;
}

.botoes li {
    display: inline-block;
	text-align: center;
	width: 28%; 
	vertical-align: top;
	margin: 0 1.5%;
	border-radius: 10px ;
}   
       
.botaoCodificar, .botaoDescodificar, .botaoCopiar {
    height: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}

.botaoCodificar, .botaoDescodificar {
    width: 180px;
    background: #0A3871;
    color: #FFFFFF;
}

.botaoCopiar {
    width: 150px;
    background: #FFFFFF;
    color: #0A3871;
    border: 2px solid #0A3871;
}

footer {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em 1em 1px;
    display: flex;
    background: rgb(197,212,232);
background: linear-gradient(0deg, rgba(197,212,232,1) 7%, rgba(229,229,229,1) 59%, rgba(255,255,255,1) 94%);
}

h1 {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 6em 1em 0 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #0A3871; 
}

.contato {
    margin: 4em auto;
    padding: 20px;
}

.contato a {
    width: 25%;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    text-decoration: none;
    color: #0A3871;   
}

/*mudando as cores dos icones do rodape*/
.contato i {
    color: #0A3871;
}


